.jumbotron {
  background-image: url("http://www.warrenphotographic.co.uk/photography/bigs/14082-Five-Golden-Retriever-puppies-4-weeks-old-white-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
}
