<!DOCTYPE html>
<html ng-app="puppy_app">
<head>
  <title>PuppyApp</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Puppies!</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active">
        <li><a ui-sref="#">Home</a></li>
        <li><a ui-sref="login">Log In</a></li>
        <li><a ui-sref="signUp">Sign up</a></li>
        <li><a ui-sref="newPost">New Post</a></li>
        <li><a ui-sref="index">All Posts</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
  </div>
</div>

<section class="" ui-view>

</section>


</body>
</html>
